.manual-container {
  margin: auto;
  width: 80%;
}

.manual-container .title {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0.2em;
}

.manual-container .list {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.button-container {
  margin: auto;
  width: 80%;
  margin-top: 2em;
  text-align: center;
}

.button-container .button {
  margin: auto;
}